*.class
*.iml

*DS_Store
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
src/main/resources/libs/*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

build/
.classpath
.gradle/
.project
.settings/
.idea/
